html {
    background-attachment: fixed;
    background-color: #039898;
    background-image: url("https://cyber.dabamos.de/images/backgrounds/green.gif");
    display: table;
    margin: auto;
}

body {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    vertical-align: middle;
    gap: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

h1 {
    font-family: serif;
}

#saturn {
    width: 96px;
    transform: rotate(-75deg);
    filter: hue-rotate(180deg);
    animation: drop-shadow-and-hue-rotate 2s forwards steps(2, jump-both);
    position: relative;
    top: -10px;
    right: 10px;
}

@keyframes drop-shadow-and-hue-rotate {
    0% {
        filter: hue-rotate(180deg);
    }
    50% {
        filter: hue-rotate(180deg) drop-shadow(-5px 5px 0 #ff43f2);
    }
    100% {
        filter: hue-rotate(180deg) drop-shadow(-5px 5px 0 #ff43f2) drop-shadow(-5px 5px 0 #7256ff);
    }
}

.window {
    margin: 8px auto;
    max-width: calc(88px * 8 + 8px * 7 + 4px);
    float: initial;
}

@media screen and (max-width: calc(88px * 8 + 8px * 7 + 4px)) {
    .window {
        margin: 8px;
    }
}

#about table {
    margin-bottom: 15px;
}

#btns {
    max-width: calc(88px * 8 + 8px * 7 + 4px);
}

#btns .window-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

#my-btn {
    a {
        display: block;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .tree-view {
        margin-bottom: 8px;
    }

    button {
        position: relative;
        justify-self: right;
        float: right;
        margin-bottom: 8px;
        font-weight: revert;
    }
}

#penguins img {
    width: 100px;
}

#license {
    margin-top: 15px;
}

@media (prefers-color-scheme: light) {
    body {
        background: #afafaf;
        color: #000;
    }

    a {
        color: #000;
    }

    #my-btn-embed-code {
        color: #fff;
    }
}